* {
  margin: 0;
  padding: 0;
}
body {
  width: 320px;
  height: 234px;
}

.show-less {
display: flex;
cursor: pointer;
width: 88px;
height: 24px;
margin-left: 32px;
border: none;
background-color: #F8F8F8;
}
.show-less_text {
width: 57px;
font-size: 16px; 
font-family: 'TT Lakes Regular', sans-serif;
font-weight: 500;
letter-spacing: -0.2px;
line-height: 24px;
color: #1B1C21;
align-items: center;
justify-content: center;
margin-left: 8px;
}
@font-face {
    font-family: 'TT Lakes Regular';
    src: url('fonts/TTLakes-Regular.eot');
    src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Regular.woff') format('woff'),
        url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
header {
    width: 320px;
    height: 80px;
    background-image: linear-gradient(to right, #F8F8F8, #FFFFFF);
    border-top: 1px solid #D9FFF5;
  
}
h1 {
    padding-left: 16px;
    padding-top: 16px;
    font-size: 16px; 
    font-family: 'TT Lakes Regular', sans-serif;
    width: 288px;
    height: 48px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 24px;
    text-transform: uppercase;
    color: #7E7E82;
}

.swiper {
  background-color: #F8F8F8;
   width: 320px;
   height: 154px;
   overflow: visible;
 -webkit-mask-image: linear-gradient(to right, black 90%, transparent); 
 mask-image:linear-gradient(to right,black 90%, transparent); 

}
.swiper-wrapper {
  display: flex;
  padding-left: 16px; /* отступ слева от первого слайда */
  padding-right: 16px;
  
}
.swiper-slide {
flex-shrink: 0; 
width: 240px;
height: 72px;
}

.swiper-slide_img {
width: 240px;
height: 72px;
}

.swiper-pagination {
margin: 0 auto;
margin-bottom: 38px;

}
.swiper-pagination-bullet {
  width: 12px;        /* ширина точки */
  height: 12px;       /* высота точки */
  background: #DDDDDD; /* цвет неактивных */
  opacity: 1;         /* убираем прозрачность по умолчанию */
  margin: 0 6px !important; /* расстояние между точками */
  border-radius: 50%; /* круглая форма */
}
.swiper-pagination-bullet-active {
  background: #B5B6BC;
}

.show-more, .show-less {
 display: none; 
}
.hidden {
  display: none;
}
.swiper {
  overflow: hidden;
}
/*Планшет*/
@media (min-width: 768px) and (max-width: 1119px){
    .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    height: auto; /* 🔑 высота по контенту */
  }
  .swiper {
    height: auto; /* 🔑 снимаем фиксированную высоту */
  }

  body {
  width: 768px;
  height: 322px;
  background-color: #F8F8F8;
}

header {
    width: 768px;
    height: 56px;
    background-image: linear-gradient(to right, #F8F8F8, #FFFFFF);
    border-top: 1px solid #D9FFF5;
}
h1 {
    padding-left: 24px;
    padding-top: 16px;
    width: 338px;
    height: 24px;
    
}

.swiper { 
  width: 768px;
  height: auto;
  overflow: hidden;
  -webkit-mask-image: none;
  mask-image: none;
}
.swiper-wrapper {
  display: flex;
  padding: 24px;
  flex-wrap: wrap;         /* карточки переносятся на следующую строку */
  gap: 16px 8px;
}
.swiper-slide {
flex-shrink: 0; 
width: 224px;
}

.swiper-slide_img {
width: 224px;
height: 72px;
}

.swiper-pagination {
display: none;
}

.show-more {
display: flex;
cursor: pointer;
width: 134px;
height: 24px;
margin-left: 24px;
border: none;
background-color: #F8F8F8;
}
.show-more_text {
width: 101px;
font-size: 16px; 
font-family: 'TT Lakes Regular', sans-serif;
font-weight: 500;
letter-spacing: -0.2px;
line-height: 24px;
color: #1B1C21;
align-items: center;
justify-content: center;
margin-left: 9px;
}
.show-less {
 display: none; 
}

}

/*ПК*/
@media (min-width: 1120px) {
    .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    height: auto; /* 🔑 высота по контенту */
  }
  .swiper {
    height: auto; /* 🔑 снимаем фиксированную высоту */
  }

  body {
  width: 1120px;
  height: 322px;
  background-color: #F8F8F8;
}

header {
    width: 1120px;
    height: 56px;
    background-image: linear-gradient(to right, #F8F8F8, #FFFFFF);
    border-top: 1px solid #D9FFF5;
  
}
h1 {
    padding-left: 32px;
    padding-top: 16px;
    width: 338px;
    height: 24px;
    
}

.swiper { 
  width: 1120px;
  height: auto;
  overflow: hidden;
  -webkit-mask-image: none;
  mask-image: none;
}
.swiper-wrapper {
  display: flex;
  padding: 32px;
  flex-wrap: wrap;         /* карточки переносятся на следующую строку */
  gap: 16px 16px;
  
}
.swiper-slide {
flex-shrink: 0; 
width: 240px;
height: 72px;
margin-right: 32px;
}

.swiper-slide_img {
width: 240px;
height: 72px;
}

.swiper-pagination {
display: none;
}

.show-more {
display: flex;
cursor: pointer;
width: 133px;
height: 24px;
margin-left: 32px;
border: none;
background-color: #F8F8F8;
}
.show-more_text {
width: 101px;
font-size: 16px; 
font-family: 'TT Lakes Regular', sans-serif;
font-weight: 500;
letter-spacing: -0.2px;
line-height: 24px;
color: #1B1C21;
align-items: center;
justify-content: center;
margin-left: 8px;
}
.show-less {
 display: none; 
}

}

